/*
画像2枚を横並べにするときのスタイル
まずは画面いっぱいに、2枚を格納するための全体コンテナを作る
この時、コンテナのheightは画像の高さが高いほうに合わせられるので低いほうのアスペクト比が狂う
各画像を縦方向に中央配置することでアスペクト比が狂わない
imgとfigは違うので、それぞれ別のサブコンテナ（50%）に入れてから各サブコンテナ内で画像の大きさ合わす
*/
.container {
    display: flex;
    width: 100vw;
    height: 80vh;
    justify-content: center;
}

.container .img_container {
    align-items: center;
    width: 50%;
}

.container .img_container img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}