/*
画像2枚を横並べにするときのスタイル
まずは画面いっぱいに、2枚を格納するための全体コンテナを作る
この時、コンテナのheightは画像の高さが高いほうに合わせられるので低いほうのアスペクト比が狂う
各画像を縦方向に中央配置することでアスペクト比が狂わない
それぞれの画像が、親コンテナの半分を占めるように配置
*/
.container {
    display: flex;
    justify-content: center;
    height: 35vh;
}

.container img {
    height: 100%;
    width: auto;
}

