<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>HLS ColorMapping System for ClipStudioPaint</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            body {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh;
                margin: 0;
            }
        </style>
    </head>
    <body>
        <h1>HLS ColorMapping System for ClipStudioPaint</h1>
        {{fig}}
    </body>
</html>